<section class="product-desc">
	<div class="product-desc-wrap container-xl">
		<div class="product-desc-tab">
			<ul class="tab-menu nav nav-tabs" id="tab" role="tablist">
				<li class="tab-item" role="presentation">
					<a class="tab-link active" id="desc-content-tab" data-toggle="tab" href="#desc-content" role="tab" aria-controls="desc-content" aria-selected="true">Descriptions</a>
				</li>
				<li class="tab-item" role="presentation">
					<a class="tab-link" id="desc-brand-tab" data-toggle="tab" href="#desc-brand" role="tab" aria-controls="desc-brand" aria-selected="false">Brand</a>
				</li>
				<li class="tab-item" role="presentation">
					<a class="tab-link" id="desc-doc-tab" data-toggle="tab" href="#desc-doc" role="tab" aria-controls="desc-doc" aria-selected="false">Documentation</a>
				</li>
			</ul>
			<div class="tab-content" id="tabContent">
				<div class="tab-pane fade show active" id="desc-content" role="tabpanel" aria-labelledby="desc-content-tab">
					<div class="product-desc-content">
						<p>Sistem Pembangkit Listrik Tenaga Surya (PLTS) Rooftop Ongrid merupakan suatu sistem pembangkit tenaga listrik yang memanfaatkan teknologi fotovoltaik pada modul surya untuk mengubah energi matahari menjadi energi listrik.</p>
						<p>Sistem Pembangkit Listrik Tenaga Surya (PLTS) Rooftop Ongrid merupakan suatu sistem pembangkit tenaga listrik yang memanfaatkan teknologi fotovoltaik pada modul surya untuk mengubah energi matahari menjadi energi listrik.</p>
					</div>
					<div class="product-desc-list">
						<div class="product-desc-row">
							<div class="product-desc-span">Style Code</div>
							<div class="product-desc-text">SB-BLUE</div>
						</div>
						<div class="product-desc-row">
							<div class="product-desc-span">IMEI</div>
							<div class="product-desc-text">2668993- 84984892</div>
						</div>
						<div class="product-desc-row">
							<div class="product-desc-span">Voltage</div>
							<div class="product-desc-text">220V</div>
						</div>
						<div class="product-desc-row">
							<div class="product-desc-span">Socket</div>
							<div class="product-desc-text">2 Front</div>
						</div>
						<div class="product-desc-row">
							<div class="product-desc-span">Material</div>
							<div class="product-desc-text">Gorillas Glass</div>
						</div>
						<div class="product-desc-row">
							<div class="product-desc-span">Video</div>
							<div class="product-desc-text">
								<div class="product-desc-video">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/DfgwU6iuYBE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="desc-brand" role="tabpanel" aria-labelledby="desc-brand-tab">
					<div class="product-desc-img">
						<img src="./asset/images/dummy/company.png" alt="">
					</div>
					<div class="product-desc-content">
						<p>Sistem Pembangkit Listrik Tenaga Surya (PLTS) Rooftop Ongrid merupakan suatu sistem pembangkit tenaga listrik yang memanfaatkan teknologi fotovoltaik pada modul surya untuk mengubah energi matahari menjadi energi listrik.</p>
						<p>Sistem Pembangkit Listrik Tenaga Surya (PLTS) Rooftop Ongrid merupakan suatu sistem pembangkit tenaga listrik yang memanfaatkan teknologi fotovoltaik pada modul surya untuk mengubah energi matahari menjadi energi listrik.</p>
					</div>
				</div>
				<div class="tab-pane fade" id="desc-doc" role="tabpanel" aria-labelledby="desc-doc-tab">
					<div class="product-desc-item">
						<div class="product-desc-docs">
							<span>Solaria + Enphase AC Module Datasheet</span>
							Specs for Schneider Conext System Control Panel
						</div>
						<div class="product-desc-btn">
							{{>button type="link" href="#" label="Download" class="-download"}}
						</div>
					</div>
					<div class="product-desc-item">
						<div class="product-desc-docs">
							<span>Solaria + Enphase AC Module Datasheet</span>
							Specs for Schneider Conext System Control Panel
						</div>
						<div class="product-desc-btn">
							{{>button type="link" href="#" label="Download" class="-download"}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
