<!-- modal register -->
<div class="modal fade" id="modal-register" tabindex="-1" aria-labelledby="Register" aria-hidden="true">
	<div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-body">
				{{>register-box}}
			</div>
		</div>
	</div>
</div>
