<div class="order-item row">
	<div class="col order-item-info">
		<div class="order-product-img">
			<img src="./asset/images/dummy/MAINPRODIMG_Adyasolar_0.75Kwp_1597229253159.jpg" alt="">
		</div>
		<div class="order-product-info">
			<div class="order-product-name"><a href="solario-detail-single.html">Adyasolar On Grid 750 Wp 1P</a></div>
			<div class="order-product-qty">Qty: 1 Unit</div>
			<div class="order-product-date"><span>Delivery on</span> 21 Okt 2020, 09:14</div>
			<div class="order-product-date"><span>Ordered on</span> 20 Okt 2020, 19:00</div>
		</div>
	</div>
	<div class="col order-item-status">
		<div class="order-product-seller">Chelsea Olivia</div>
		<div class="order-product-status"><span>Order ID</span> 0947638843736</div>
		<div class="order-product-status"><span>Status</span> On Process</div>
	</div>
	<div class="col order-item-price">
		<div class="order-product-price">Rp 21.000.000</div>
	</div>
</div>

<div class="order-item row">
	<div class="col order-item-info">
		<div class="order-product-img">
			<img src="./asset/images/dummy/MAINPRODIMG_sankelux_ONG5KWEXIM-SMA3P_1597594189662.png" alt="">
		</div>
		<div class="order-product-info">
			<div class="order-product-name"><a href="solario-detail-single.html">Sankelux On Grid SMA 3Phase</a></div>
			<div class="order-product-qty">Qty: 1 Unit</div>
			<div class="order-product-date"><span>Delivery on</span> 21 Okt 2020, 09:14</div>
			<div class="order-product-date"><span>Ordered on</span> 20 Okt 2020, 19:00</div>
		</div>
	</div>
	<div class="col order-item-status">
		<div class="order-product-seller">Lukman Hakim</div>
		<div class="order-product-status"><span>Order ID</span> 763858044373</div>
		<div class="order-product-status"><span>Status</span> Delivered</div>
	</div>
	<div class="col order-item-price">
		<div class="order-product-price">Rp 86.530.860</div>
	</div>
</div>

<div class="order-item row">
	<div class="col order-item-info">
		<div class="order-product-img">
			<img src="./asset/images/dummy/MAINPRODIMG_Adyasolar_0.75Kwp_1597229253159.jpg" alt="">
		</div>
		<div class="order-product-info">
			<div class="order-product-name"><a href="solario-detail-single.html">Adyasolar On Grid 750 Wp 1P</a></div>
			<div class="order-product-qty">Qty: 1 Unit</div>
			<div class="order-product-date"><span>Delivery on</span> 21 Jun 2020, 09:14</div>
			<div class="order-product-date"><span>Ordered on</span> 20 Jun 2020, 19:00</div>
		</div>
	</div>
	<div class="col order-item-status">
		<div class="order-product-seller">Chelsea Olivia</div>
		<div class="order-product-status"><span>Order ID</span> 0947385843736</div>
		<div class="order-product-status"><span>Status</span> Canceled</div>
	</div>
	<div class="col order-item-price">
		<div class="order-product-price">Rp 13.000.000</div>
	</div>
</div>

<div class="order-item row">
	<div class="col order-item-info">
		<div class="order-product-img">
			<img src="./asset/images/dummy/MAINPRODIMG_sankelux_ONG5KWEXIM-SMA3P_1597594189662.png" alt="">
		</div>
		<div class="order-product-info">
			<div class="order-product-name"><a href="solario-detail-single.html">Sankelux On Grid SMA 3Phase</a></div>
			<div class="order-product-qty">Qty: 1 Unit</div>
			<div class="order-product-date"><span>Delivery on</span> 21 Okt 2020, 09:14</div>
			<div class="order-product-date"><span>Ordered on</span> 20 Okt 2020, 19:00</div>
		</div>
	</div>
	<div class="col order-item-status">
		<div class="order-product-seller">Lukman Hakim</div>
		<div class="order-product-status"><span>Order ID</span> 7638580944373</div>
		<div class="order-product-status"><span>Status</span> Waiting Confirmation</div>
	</div>
	<div class="col order-item-price">
		<div class="order-product-price">Rp 86.530.860</div>
	</div>
</div>
