<div class="panel">
	<div class="panel-welcome">Hello Again<br> Welcome Back</div>
	<div class="panel-body">
		{{>button id="menu-register" type="button" label="Sign up with Email"}}

		<div class="panel-line"><span>Already a Member?</span></div>

		{{>button id="menu-login" type="button" label="Login" class="-primary"}}
	</div>
</div>
