<!-- modal welcome back -->
<div class="modal fade" id="modal-welcome" tabindex="-1" aria-labelledby="WelcomeBack" aria-hidden="true">
	<div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-body">
				{{>welcome-box}}
			</div>
		</div>
	</div>
</div>
