.aside {
	position: relative;
	display: none;
	@include min-responsive($screen-desktop) {
		display: block;
	}
	&-box {
		position: relative;
		padding: 1rem;
		background: #fff;
		border-radius: 6px;
		@include min-responsive($screen-desktop) {
			padding: 2rem;
		}
	}
	&-menu {
		position: relative;
	}
	&-item {
		position: relative;
		padding: .5rem 0;
		& > ul {
			position: relative;
			padding-left: 1rem;
			a {
				color: #D3D3D3;
			}
		}
	}
	&-link {
		display: block;
		padding: .25rem 0;
		@include font-pack(false, 1.063rem, 600, false, #AFAFAF);
	}
	a.aside-link {
		&.-active,
		&:hover {
			color: $color-secondary;
		}
	}
}
