<div class="address-block">
	<div class="address-top">
		<button class="button -third address-button" type="button">Add Address</button>
	</div>
	<div class="address-list">
		<div class="address-item">
			<label for="address-1">
				<div class="address-content">
					Jl. bunga melati no 18 , RT 005/ RW 002, Kel. Cipete, Kec. Cilandak, Jakarta Selatan 12410
				</div>
				<div class="form-radio address-radio">
					<input name="address-pick" id="address-1" type="radio" autocomplete="off" checked="checked">
					<span>Aktif</span>
				</div>
			</label>
			<button class="button -third address-button" type="button">Edit</button>
		</div>
		<div class="address-item">
			<label for="address-2">
				<div class="address-content">
					Jl Tanah Abang IV No.49, Rt.8/Rw.4, Petojo Selatan, Gambir, Kecamatan Gambir, Kota Jakarta Pusat 12410
				</div>
				<div class="form-radio address-radio">
					<input name="address-pick" id="address-2" type="radio" autocomplete="off">
					<span>Aktif</span>
				</div>
			</label>
			<button class="button -third address-button" type="button">Edit</button>
		</div>
	</div>
</div>
