<!-- cart body -->
<div class="cart-body">
	<!-- item -->
	<div class="cart-item row">
		<div class="col cart-item-info">
			<div class="unit-img">
				<img src="./asset/images/dummy/MAINPRODIMG_sankelux_ONG5KWEXIM-SMA3P_1597594189662.png" alt="">
			</div>
			<div class="unit-name"><a href="solario-detail-single.html">Sankelux On Grid SMA 3Phase</a></div>
		</div>
		<div class="col cart-item-price">
			<div class="unit-price"><span>Total Price</span>Rp 86.530.860</div>
		</div>
	</div>
	<!-- item -->
	<div class="cart-item row">
		<div class="col cart-item-info">
			<div class="unit-img">
				<img src="./asset/images/dummy/MAINPRODIMG_Adyasolar_0.75Kwp_1597229253159.jpg" alt="">
			</div>
			<div class="unit-name"><a href="solario-detail-single.html">Adyasolar On Grid 750 Wp 1P</a></div>
		</div>
		<div class="col cart-item-price">
			<div class="unit-price"><span>Total Price</span>Rp 210.000.000</div>
		</div>
	</div>
</div>

<!-- cart total -->
<div class="cart-bottom row">
	<div class="col cart-bottom-text">
		<div class="unit-text">Total Price</div>
	</div>
	<div class="col cart-bottom-total">
		<div class="unit-price -total">Rp 298.350.000</div>
	</div>
</div>
