<!-- category list -->
<div class="cat-header">
	<div class="cat-block">
		<div class="cat-col">
			<div class="cat-heading"><a href="solario-category.html">Complete-System</a></div>
			<div class="cat-list">
				<ol>
					<li><a href="solario-category.html">Solar 3KWP</a></li>
					<li><a href="solario-category.html">Solar 4.4KWP</a></li>
					<li><a href="solario-category.html">Solar 6KWP</a></li>
				</ol>
			</div>
			<div class="cat-heading"><a href="solario-category.html">Solar-Panel</a></div>
			<div class="cat-list">
				<ol>
					<li><a href="solario-category.html">Mono-crytaline</a></li>
					<li><a href="solario-category.html">Poly-crystaline</a></li>
				</ol>
			</div>
			<div class="cat-heading"><a href="solario-category.html">Grid-Tie</a></div>
			<div class="cat-list">
				<ol>
					<li><a href="solario-category.html">Grid-Tie 10KWP</a></li>
					<li><a href="solario-category.html">Grid-Tie 1KWP</a></li>
					<li><a href="solario-category.html">Grid-Tie 2KWP</a></li>
					<li><a href="solario-category.html">Grid-Tie 3KWP</a></li>
					<li><a href="solario-category.html">Grid-Tie 4KWP</a></li>
					<li><a href="solario-category.html">Grid-Tie 5KWP</a></li>
					<li><a href="solario-category.html">Grid-Tie 6KWP</a></li>
					<li><a href="solario-category.html">Grid-Tie 7KWP</a></li>
				</ol>
			</div>
		</div>
		<div class="cat-col">
			<div class="cat-heading"><a href="solario-category.html">Battery-Electrical</a></div>
			<div class="cat-list">
				<ol>
					<li><a href="solario-category.html">Accessories</a></li>
					<li><a href="solario-category.html">Battery</a></li>
					<li><a href="solario-category.html">Inverter</a></li>
					<li><a href="solario-category.html">Mounting</a></li>
					<li><a href="solario-category.html">Power-Cable</a></li>
				</ol>
			</div>
			<div class="cat-heading"><a href="solario-category.html">Hybrid-System</a></div>
			<div class="cat-list">
				<ol>
					<li><a href="solario-category.html">Hybrid 10 KWP</a></li>
					<li><a href="solario-category.html">Hybrid 1 KWP</a></li>
					<li><a href="solario-category.html">Hybrid 2 KWP</a></li>
					<li><a href="solario-category.html">Hybrid 3 KWP</a></li>
					<li><a href="solario-category.html">Hybrid 4 KWP</a></li>
					<li><a href="solario-category.html">Hybrid 5 KWP</a></li>
					<li><a href="solario-category.html">Hybrid 6 KWP</a></li>
					<li><a href="solario-category.html">Hybrid 7 KWP</a></li>
				</ol>
			</div>
		</div>
		<div class="cat-col">
			<div class="cat-heading"><a href="solario-category.html">Hardware-Racking</a></div>
			<div class="cat-list">
				<ol>
					<li><a href="solario-category.html">Clamp</a></li>
					<li><a href="solario-category.html">Post</a></li>
					<li><a href="solario-category.html">Rack</a></li>
				</ol>
			</div>
			<div class="cat-heading"><a href="solario-category.html">Off-Grid-Solar</a></div>
			<div class="cat-list">
				<ol>
					<li><a href="solario-category.html">Off-Grid 10 KWP</a></li>
					<li><a href="solario-category.html">Off-Grid 1 KWP</a></li>
					<li><a href="solario-category.html">Off-Grid 2 KWP</a></li>
					<li><a href="solario-category.html">Off-Grid 3 KWP</a></li>
					<li><a href="solario-category.html">Off-Grid 4 KWP</a></li>
					<li><a href="solario-category.html">Off-Grid 5 KWP</a></li>
					<li><a href="solario-category.html">Off-Grid 6 KWP</a></li>
					<li><a href="solario-category.html">Off-Grid 7 KWP</a></li>
				</ol>
			</div>
		</div>
	</div>
</div>
