<!-- modal welcome back -->
<div class="modal fade" id="modal-welcome" tabindex="-1" aria-labelledby="WelcomeBack" aria-hidden="true">
	<div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-body">
				<div class="panel">
					<div class="panel-welcome">Hello Again<br> Welcome Back</div>
					<div class="panel-body">
						<div class="form-row">
							<button name="" id="menu-register" class="button">Sign up with Email</button>
						</div>
				
						<div class="panel-line"><span>Already a Member?</span></div>
				
						<div class="form-row">
							<button name="" id="menu-login" class="button -primary">Login</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- modal login -->
<div class="modal fade" id="modal-login" tabindex="-1" aria-labelledby="Login" aria-hidden="true">
	<div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-body">
				<div class="panel">
					<h2 class="title-modal">Login</h2>
					<div class="panel-body">
						<form action="solario.html">
							<div class="form-row">
								<label for="log-email">Email Address</label>
								<div class="form-input">
									<input type="text" id="log-email" name="log-email" class="input" placeholder="">
								</div>
								<div class="form-hint"></div>
							</div>
							<div class="form-row form-error">
								<label for="log-password">Password</label>
								<div class="form-input">
									<input type="password" id="log-password" name="log-password" class="input -error" placeholder="">
								</div>
								<div class="form-hint">Password salah</div>
							</div>
							<div class="form-row">
								<div class="form-checkbox">
									<input type="checkbox" name="remember" id="remember" value="">
									<label for="remember">Remember Me</label>
								</div>
							</div>
							<div class="form-row">
								<input type="submit" name="log-btn" id="log-btn" value="Login" class="button -primary">
							</div>
							<div class="form-row">
								<a href="forgot.html" class="button -transparent" role="link">Forgot your password?</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- modal register -->
<div class="modal fade" id="modal-register" tabindex="-1" aria-labelledby="Register" aria-hidden="true">
	<div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-body">
				<div class="panel">
					<h2 class="title-modal">Sign up</h2>
					<div class="panel-body">
						<form action="register-result.html">
							<div class="form-row">
								<label for="reg-name">Email Address</label>
								<div class="form-input">
									<input type="text" id="reg-name" name="reg-name" class="input" placeholder="">
								</div>
								<div class="form-hint"></div>
							</div>
							<div class="form-row">
								<label for="reg-password">Password</label>
								<div class="form-input">
									<input type="password" id="reg-password" name="reg-password" class="input" placeholder="">
								</div>
								<div class="form-hint">Password must content at least 8 characters.</div>
							</div>
							<div class="form-row">
								<div class="panel-text text-center">
									<p>By signing up you are agreeing to our <a href="static-page.html">Terms of Services</a>.</p>
									<p>View our <a href="static-page.html">Privacy Policy</a>.</p>
								</div>
							</div>
							<div class="form-row">
								<input type="submit" name="signup" id="signup" value="Agree and Sign up" class="button -primary">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- modal dialog box template -->
<div class="modal fade" id="modal-dialog" tabindex="-1" aria-labelledby="DialogBox" aria-hidden="true">
	<div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Delete</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="panel">
					<div class="panel-body">
						<div class="form-row">
							<div class="panel-text text-center">
								<p>Are yo sure want to delete?</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="button" data-dismiss="modal">Cancel</button>
				<button type="button" class="button -warning">Delete</button>
			</div>
		</div>
	</div>
</div>

<!-- alert add to wishlist -->
<div class="toast toast-wishlist -fixed" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
    <button type="button" class="close" data-dismiss="toast" aria-label="Close">
		<span aria-hidden="true">&times;</span>
    </button>
	<div class="toast-body">
		Added to wishlist.
	</div>
</div>

<!-- alert add to cart -->
<div class="toast toast-cart -fixed" role="alert" aria-live="assertive" aria-atomic="true" data-delay="6000">
    <button type="button" class="close" data-dismiss="toast" aria-label="Close">
		<span aria-hidden="true">&times;</span>
    </button>
	<div class="toast-body">
		Added to cart. Check your <a href="cart.html">shopping bag</a> now.
	</div>
</div>
