<!-- nav easysolar -->
<nav class="nav -header" aria-label="Main Navigation">
	<ol class="nav-wrap">
		<li class="nav-item">
			<a href="solario.html" class="nav-link" role="link" aria-label="Solario">Solario</a>
		</li>
		<li class="nav-item">
			<a href="solarpedia.html" class="nav-link" role="link" aria-label="Solarpedia">Solarpedia</a>
		</li>
		<li class="nav-item">
			<a href="calculator.html" class="nav-link" role="link" aria-label="Calculator">Calculator</a>
		</li>
		<li class="nav-item">
			<a href="news.html" class="nav-link" role="link" aria-label="News">News</a>
		</li>
	</ol>
</nav>
