<!-- nav sidebar -->
<nav class="nav -sidebar" aria-label="Sidebar Navigation">
	<ol class="nav-wrap">
		<li class="nav-item">
			<a href="index.html" class="nav-link" role="link" aria-label="Easysolar">Easysolar</a>
		</li>
		<li class="nav-item">
			<a href="solario.html" class="nav-link" role="link" aria-label="Solario">Solario</a>
		</li>
		<li class="nav-item">
			<a href="solarpedia.html" class="nav-link" role="link" aria-label="Solarpedia">Solarpedia</a>
		</li>
		<li class="nav-item">
			<a href="news.html" class="nav-link" role="link" aria-label="News">News</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link" role="link" aria-label="About">About</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link" role="link" aria-label="FAQ">FAQ</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link" role="link" aria-label="Terms &amp; Conditions">Terms &amp; Conditions</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link" role="link" aria-label="Privacy Policy">Privacy Policy</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link" role="link" aria-label="Contact">Contact</a>
		</li>
	</ol>
</nav>
