<div class="news-block row">
	<div class="news-item col-md-4">
		<div class="news-thumb">
			<div class="news-img">
				<a href="news-detail.html">
					<img src="./asset/images/dummy/photo-1558449028-b53a39d100fc.jpeg" alt="">
				</a>
			</div>
			<div class="news-box">
				<h4 class="news-title"><a href="news-detail.html">Pasar Energi Terbarukan di Indonesia</a></h4>
				<div class="news-info">
					<div class="news-date">25 Jun 2020, 5:35 PM</div>
					<div class="news-stat">
						<div class="news-stat-item"><i class="fa fa-eye" aria-hidden="true"></i> 235</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="news-item col-md-4">
		<div class="news-thumb">
			<div class="news-img">
				<a href="news-detail.html">
					<img src="./asset/images/dummy/photo-1474398777522-cabeb42e8132.jpeg" alt="">
				</a>
			</div>
			<div class="news-box">
				<h4 class="news-title"><a href="news-detail.html">Pasang Panel Surya, Tagihan Listrik Bisa Hemat Rp 1 Juta/Bulan</a></h4>
				<div class="news-info">
					<div class="news-date">25 Jun 2020, 5:35 PM</div>
					<div class="news-stat">
						<div class="news-stat-item"><i class="fa fa-eye" aria-hidden="true"></i> 235</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="news-item col-md-4">
		<div class="news-thumb">
			<div class="news-img">
				<a href="news-detail.html">
					<img src="./asset/images/dummy/photo-1497440001374-f26997328c1b.jpeg" alt="">
				</a>
			</div>
			<div class="news-box">
				<h4 class="news-title"><a href="news-detail.html">Pasang Panel Surya di Atap Rp 15 Juta, 7 Tahun Bisa Balik Modal</a></h4>
				<div class="news-info">
					<div class="news-date">25 Jun 2020, 5:35 PM</div>
					<div class="news-stat">
						<div class="news-stat-item"><i class="fa fa-eye" aria-hidden="true"></i> 235</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
