<!-- modal welcome back -->
<div class="modal fade" id="modal-welcome" tabindex="-1" aria-labelledby="WelcomeBack" aria-hidden="true">
	<div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-body">
				<div class="panel">
					<div class="panel-welcome">Hello Again<br> Welcome Back</div>
					<div class="panel-body">
						<div class="form-row">
							<button name="" id="menu-register" class="button">Sign up with Email</button>
						</div>
				
						<div class="panel-line"><span>Already a Member?</span></div>
				
						<div class="form-row">
							<button name="" id="menu-login" class="button -primary">Login</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
