<!DOCTYPE html>
<html lang="en">

{{>head font="link" title="News Easysolar"}}

<body class="-easysolar">
	<!-- main -->
	<main class="main">

		{{>header easysolar=true page="News"}}

		{{>sidebar page=navigation.easysolar}}

		<!-- news detail -->
		<section class="news-detail">
			<div class="news-wrap container-xl">
				<div class="news-read">
					<div class="news-subtitle"><span>News</span></div>
					<h1 class="news-bigtitle">Pasar Energi Terbarukan di Indonesia</h1>
					<div class="news-info">
						<div class="news-date">25 Jun 2020, 5:35 PM</div>
						<div class="news-stat">
							<div class="news-stat-item"><i class="fa fa-eye" aria-hidden="true"></i> 235</div>
						</div>
						<div class="news-social">
							<div class="news-social-text">Share:</div>
							<div class="news-social-article">
								<div class="social-item">
									<a href="#" class="social-link -facebook">
										<i class="fa fa-facebook" aria-hidden="true"></i>
									</a>
								</div>
								<div class="social-item">
									<a href="#" class="social-link -twitter">
										<i class="fa fa-twitter" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="news-figure">
						<img src="./asset/images/dummy/photo-1474398777522-cabeb42e8132.jpeg" alt="">
					</div>
					<article class="news-content">
						<p>Sebanyak 64.620 hamparan panel surya tersusun rapi di Desa Wineru, Kecamatan Likupang Timur, Kabupaten Minahasa Utara, Provinsi Sulawesi Utara. Ribuan panel surya tersebut membentang di atas ladang seluas 29 hektar. Kehadiran alat penangkap sinar matahari tadi difungsikan oleh Vena Energy sebagai sumber energi listrik baru sejak 5 September 2019.</p>
						<p>Country Head Vena Energy Arisudono Soerono menjelaskan, rata-rata setiap harinya Pembangkit Listrik Tenaga Surya (PLTS) Likupang menyalurkan listrik mencapai 15 MW meskipun memiliki kapasitas terpasang 21 Mega Watt Peak (MWp).</p>
						<p>"Jam beroperasi selama 12 jam, mulai dari jam 05.30 pagi sampai matahari terik bisa 15 MW, kalau enggak ya menurun. Kalau hujan bisa masuk 3 MW. Itu sampai jam 17.30," kata Ari ditemui di lokasi PLTS Likupang, Kamis (12/3).</p>
						<p>Dengan jumlah kapasitas terpasang tersebut, Ari menilai PLTS Likupang menjadi PLTS terbesar di Indonesia hingga saat ini dan sebagai penopang sistem kelistrikan jaringan Perusahaan Listrik Negara (PLN) Sulutgo (Sulawesi Utara-Gorontalo) sebesar 15 MWp. "Ini merupakan (PLTS) terbesar di Indonesia sebelum adanya PLTS Terapung di Cirata nanti," jelas Ari.</p>
						<p>Selanjutnya, Ari menjelaskan kemampuan konversi dari tegangan 800 Volt DC ke 380 Volt AC mengakibatkan adanya losses (susut) sebanyak 6 MW. Setelah itu, sistem produksi listrik PLTS Likupang langsung terhubungan secara online dengan jaringan listrik milik PLN. "Pembangkit ini online grid, setiap kWh kita produksi, kita langsung kirim ke PLN secara online tanpa (storage) baterai," kata Ari.</p>
						<h2>Peluang Ekspansi</h2>
						<p>Ia memastikan, meskipun tidak sepanjang hari listrik dihasilkan, tapi dari sisi harga jauh di bawah harga listrik yang menggunakan BBM atau Pembangkit Listrik Tenaga Diesel (PLTD). "Yang jelas di bawah harga PLTD, jauh lebih murah," tegasnya.</p>
						<p>PLTS Likupang sendiri dibangun sejak Power Purchase Agreement (PPA) tahun 2017 akhir dan memakan waktu sekitar 1,5 tahun dengan total biaya investasi mencapai USD29,2 juta. Pembangkit tersebut memiliki 120 arry box, 24 set inverter dan 6 PV box. "Kontrak jual beli listrik berlangsung selama 20 tahun dengan skema Built, Own, Operate, Transfer (BOOT)," ungkap Ari.</p>
						<div class="news-figure-article">
							<img src="./asset/images/dummy/photo-1558449028-b53a39d100fc.jpeg" alt="">
						</div>
						<p>Country Head Vena Energy Arisudono Soerono menjelaskan, rata-rata setiap harinya Pembangkit Listrik Tenaga Surya (PLTS) Likupang menyalurkan listrik mencapai 15 MW meskipun memiliki kapasitas terpasang 21 Mega Watt Peak (MWp).</p>
						<p>"Jam beroperasi selama 12 jam, mulai dari jam 05.30 pagi sampai matahari terik bisa 15 MW, kalau enggak ya menurun. Kalau hujan bisa masuk 3 MW. Itu sampai jam 17.30," kata Ari ditemui di lokasi PLTS Likupang, Kamis (12/3).</p>
						<ol>
							<li>Pembangkit tersebut memiliki 120 arry box</li>
							<li>24 set inverter</li>
							<li>6 PV box</li>
							<li>Listrik mencapai 15 MW</li>
						</ol>
						<ul>
							<li>Pembangkit tersebut memiliki 120 arry box</li>
							<li>24 set inverter</li>
							<li>6 PV box</li>
							<li>Listrik mencapai 15 MW</li>
						</ul>
						<p>Dengan jumlah <a href="#">kapasitas terpasang tersebut</a>, Ari menilai PLTS Likupang menjadi PLTS terbesar di Indonesia hingga saat ini dan sebagai penopang sistem kelistrikan jaringan Perusahaan Listrik Negara (PLN) Sulutgo (Sulawesi Utara-Gorontalo) sebesar 15 MWp. "Ini merupakan (PLTS) terbesar di Indonesia sebelum adanya PLTS Terapung di Cirata nanti," jelas Ari.</p>
						<p>***</p>
					</article>
				</div>
			</div>
		</section>

		<!-- news -->
		<section class="news-grid">
			<div class="news-wrap container-xl">
				<h3 class="title-homepage">Related Article</h3>
				{{>news-grid}}
			</div>
		</section>

		{{>modal-all}}

		{{>footer}}

	</main>

{{>js}}
</body>
</html>
