.unit {
	&-body {
		position: relative;
		margin: 1rem 0;
		@include min-responsive($screen-tablet) {
			margin: 0;
		}
	}
	// list 
	&-list {
		position: relative;
		padding: 0 15px;
		&-header {
			position: relative;
			border-bottom: 1px solid #f1f1f1;
			@include max-responsive($screen-mobile-max) {
				display: none;
			}
			h4 {
				margin: 0;
				text-transform: uppercase;
				letter-spacing: 1px;
				text-align: center;
				padding: 1rem;
				@include font-pack(false, .75rem, 900, false, #B3B3B3);
				@include min-responsive($screen-tablet) {
					padding: 2rem 0;
				}
			}
		}
		&-col {
			&:first-child {
				flex: 0 0 40%;
				max-width: 40%;
				h4 {
					text-align: left;
				}
			}
			&:last-child {
				h4 {
					text-align: left;
				}
			}
		}
	}
	&-img {
		position: relative;
		width: 90px;
		height: 90px;
		flex-basis: 90px;
		flex-grow: 0;
		overflow: hidden;
		border: 1px solid #DEDCDC;
		padding: .125rem;
		background: #fff;
		img {
			@include ratio-flexible(100%, auto);
		}
		@include min-responsive($screen-desktop) {
			width: 110px;
			height: 110px;
			flex-basis: 110px;
		}
		@include max-responsive($screen-mobile-max) {
			position: absolute;
			left: -90px;
			top: 0;
		}
	}
	&-name {
		flex-basis: 0;
		flex-grow: 1;
		text-align: left;
		@include font-pack(false, 1.063rem, 600, false, $color-secondary);
		@include min-responsive($screen-tablet) {
			padding-left: 1rem;
		}
		@include max-responsive($screen-mobile-max) {
			padding-right: .5rem;
			padding-bottom: .5rem;
			font-size: 1rem;
		}
		a {
			color: $color-secondary;
			&:hover {
				color: initial;
			}
		}
	}
	&-text {
		text-align: center;
		@include min-responsive($screen-tablet) {
			text-align: right;
		}
		@include font-pack(false, .875rem, 600, false, #666666);
	}
	&-price {
		@include font-pack(false, 1rem, 600, false, #666666);
		span {
			display: block;
			font-size: .688rem;
			padding-bottom: .125rem;
			color: #B3B3B3;
			text-transform: uppercase;
			@include min-responsive($screen-tablet) {
				display: none;
			}
		}
		&.-total {
			font-size: 1.5rem;
			text-align: center;
			@include min-responsive($screen-tablet) {
				font-size: 1.125rem;
			}
		}
	}
	&-qty {
		label {
			display: block;
			font-size: .688rem;
			padding-bottom: .25rem;
			color: #B3B3B3;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 0;
			@include min-responsive($screen-tablet) {
				display: none;
			}
		}
		.button {
			width: 40px;
			height: 40px;
			flex-basis: 40px;
			flex-grow: 0;
		}
		.input {
			flex-basis: 0;
			flex-grow: 1;
			text-align: center;
			height: 40px;
		}
	}
	&-setting {
		position: relative;
		@include display-flex();
		justify-content: space-between;
		align-items: flex-end;
		@include min-responsive($screen-tablet) {
			align-items: center;
			justify-content: space-around;
		}
		label {
			display: block;
			font-size: .688rem;
			padding-bottom: .25rem;
			color: #B3B3B3;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 0;
			@include min-responsive($screen-tablet) {
				display: none;
			}
		}
		.form-row {
			padding: .125rem 0;
		}
	}
	&-button {
		&-setting {
			width: auto;
			padding: 0 .75rem;
			height: 30px;
			font-size: .75rem;
			color: #9B9B9B;
			text-transform: uppercase;
			font-weight: 400;
			border: 1px solid #AFAFAF;
		}
		&-field {
			width: auto;
			padding: .5rem;
			color: #B2B2B2;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-size: .75rem;
			height: auto;
			border: transparent;
			background: transparent;
			font-weight: 600;
		}
		&-remove {
			position: absolute;
			right: 0;
			top: 0;
			width: auto;
			padding: 0 .75rem;
			color: #B2B2B2;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-size: 1.75rem;
			height: auto;
			border: transparent;
			background: transparent;
			font-weight: 400;
			z-index: 2;
			@include min-responsive($screen-tablet) {
				padding: 0 .5rem;
				font-size: 1.375rem;
			}
			&:hover {
				background: transparent;
			}
		}
	}

	// item
	&-item {
		position: relative;
		@include display-flex();
		padding: 2rem 1rem 2rem 105px;
		border-bottom: 1px solid #f1f1f1;
		@include min-responsive($screen-tablet) {
			padding: 1.25rem 0;
			text-align: center;
			align-items: center;
			flex-wrap: nowrap;
		}
		&-info {
			position: relative;
			@include display-flex();
			align-items: center;
			width: 100%;
			@include max-responsive($screen-mobile-max) {
				flex-basis: auto;
			}
			@include min-responsive($screen-tablet) {
				flex: 0 0 40%;
				max-width: 40%;
				// flex: 0 0 41.66667%;
				// max-width: 41.66667%;
			}
			// @include min-responsive($screen-desktop) {
			// 	flex: 0 0 50%;
			// 	max-width: 50%;
			// }
		}
		&-qty {
			position: relative;
			width: 100%;
			@include max-responsive($screen-mobile-max) {
				flex-basis: auto;
			}
			@include min-responsive($screen-tablet) {
				flex: 0 0 20%;
				max-width: 20%;
			}
			// @include min-responsive($screen-desktop) {
			// 	flex: 0 0 16.66667%;
			// 	max-width: 16.66667%;
			// }
		}
		&-price {
			position: relative;
			width: 100%;
			@include max-responsive($screen-mobile-max) {
				flex-basis: auto;
			}
			@include min-responsive($screen-tablet) {
				flex: 0 0 20%;
				max-width: 20%;
			}
		}
		&-setting {
			position: relative;
			width: 100%;
			@include max-responsive($screen-mobile-max) {
				flex-basis: auto;
			}
			@include min-responsive($screen-tablet) {
				flex: 0 0 20%;
				max-width: 20%;
			}
		}
	}
	// add
	&-add {
		&-file {
			position: relative;
			@include max-responsive($screen-mobile-max) {
				padding-top: 1rem;
			}
			label {
				position: absolute;
				z-index: 2;
				width: 100%;
				text-align: center;
				bottom: 1.25rem;
				font-size: .5rem;
			}
		}
	}
	// override form	
	&-input {
		&.form-row {
			@include display-flex();
			align-items: center;
			flex-wrap: wrap;
			padding: 0.5rem 0;
			label {
				text-transform: initial;
				letter-spacing: initial;
				@include font-pack(false, .875rem, 600, false, #7A7A7A);
				width: 100%;
				@include min-responsive($screen-tablet) {
					width: 30%;
					padding-bottom: 0;
				}
			}
			input {
				border: 1px solid #F9F9F9;
			}
			.form-input {
				width: 100%;
				@include min-responsive($screen-tablet) {
					width: 70%;
				}
			}
			.form-hint {
				font-size: .875rem;
				width: 100%;
				text-align: right;
			}
		}	
	}
	&-select {
		&.form-row {
			@include display-flex();
			align-items: center;
			flex-wrap: wrap;
			padding: 0.5rem 0;
			label {
				text-transform: initial;
				letter-spacing: initial;
				@include font-pack(false, .875rem, 600, false, #7A7A7A);
				width: 100%;
				@include min-responsive($screen-tablet) {
					width: 30%;
					padding-bottom: 0;
				}
			}
			select {
				border: 1px solid #F9F9F9;
			}
			.form-select {
				width: 100%;
				@include min-responsive($screen-tablet) {
					width: 50%;
				}
			}
			.form-hint {
				font-size: .875rem;
				width: 100%;
				text-align: right;
			}
		}	
	}
	&-textarea {
		&.form-row {
			@include display-flex();
			align-items: center;
			flex-wrap: wrap;
			padding: 0.5rem 0;
			label {
				text-transform: initial;
				letter-spacing: initial;
				@include font-pack(false, .875rem, 600, false, #7A7A7A);
				width: 100%;
				padding-top: 1rem;
				@include min-responsive($screen-tablet) {
					width: 30%;
					padding-bottom: 0;
					align-self: flex-start;
				}
			}
			textarea {
				border: 1px solid #F9F9F9;
				min-height: 120px;
			}
			.form-textarea {
				width: 100%;
				@include min-responsive($screen-tablet) {
					width: 70%;
				}
			}
			.form-hint {
				font-size: .875rem;
				width: 100%;
				text-align: right;
			}
		}
		&.-full {
			.form-textarea {
				width: 100%;
			}
		}
	}
	&-radio {
		&.form-row {
			@include display-flex();
			align-items: center;
			flex-wrap: wrap;
			padding: 0.5rem 0;
			.form-block {
				position: relative;
				@include display-flex();
				align-items: center;
			}
			.form-quantity {
				height: 34px;
				padding-left: 1rem;
				opacity: .4;
				pointer-events: none;
			}
			.form-quantity .button {
				width: 34px;
				height: 34px;
			}
			.form-quantity input {
				height: 34px;
				text-align: center;
				max-width: 45px;
			}
			.form-label {
				@include font-pack(false, .875rem, 600, false, #7A7A7A);
				width: 100%;
				padding-bottom: 0.688rem;
				@include min-responsive($screen-tablet) {
					width: 30%;
					padding-bottom: 0;
				}
			}
			.form-radio {
				@include display-flex();
				align-items: center;
				padding-right: 2rem;
				label {
					text-transform: initial;
					letter-spacing: initial;
					@include font-pack(false, .875rem, 600, false, #7A7A7A);
					padding-bottom: 0;
					padding-left: 1rem;
				}
				span {
					pointer-events: none;
				}
				.form-row {
					padding: 0;
				}
			}
			.form-radio > input[type=radio] {
				right: unset;
				left: 0;
				z-index: 1;
				top: calc(50% - 11px);
				cursor: pointer;
				&:checked ~ .form-row .form-quantity {
					opacity: 1;
					pointer-events: all;
				}
			}
		}
	}
	&-file {
		&.form-row {
			@include display-flex();
			align-items: center;
			flex-wrap: wrap;
			padding: 0.5rem 0;
			label {
				text-transform: initial;
				letter-spacing: initial;
				@include font-pack(false, .875rem, 600, false, #7A7A7A);
				width: 100%;
				@include min-responsive($screen-tablet) {
					width: 30%;
					padding-bottom: 0;
				}
			}
			input {
				border: 1px solid #F9F9F9;
			}
			.form-file {
				width: 100%;
				@include min-responsive($screen-tablet) {
					width: 40%;
				}
			}
			.form-hint {
				font-size: .875rem;
				width: 100%;
				text-align: right;
			}
		}	
	}
}