<!-- footer -->
<footer class="footer">
	<div class="footer-wrap container-xl">
		<div class="footer-top row">
			<div class="col-lg-3 col-md-12">
				<div class="logo -footer">
					<a href="index.html">
						<div class="logo-box">
							<div class="logo-icon">
								<img src="./asset/images/logo-easysolar.png" alt="Easysolar">
							</div>
							<div class="logo-title">
								Easy<span>Solar</span>
							</div>
						</div>
					</a>
					<div class="logo-footer">
						<div class="logo-footer-img">
							<img class="logo-footer-pp" src="./asset/images/logo-pp-energi.png" alt="PP Energi">
						</div>
						<div class="logo-footer-img">
							<img class="logo-footer-bumn" src="./asset/images/logo-bumn.png" alt="BUMN">
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 col-md-7">
				<div class="footer-nav-wrap">
					<nav class="footer-nav" aria-label="Footer Navigation">
						<div class="footer-title">Help</div>
						<ul>
							<li><a href="#">Payments</a></li>
							<li><a href="#">Shipping</a></li>
							<li><a href="#">Cancellation & Returns</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Measurement Process</a></li>
						</ul>
					</nav>
					<nav class="footer-nav" aria-label="Footer Navigation">
						<div class="footer-title">Contact Us</div>
						<ul>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Work with Us</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms & Conditions</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="col-lg-4 col-md-5">
				<div class="footer-subscribe">
					<div class="footer-title">Newsletter</div>
					<div class="footer-subscribe-text">Our email subscribers get the inside scoop on new products, Promotions, Contests and more. Sign up, it's right thing to do.</div>
					<div class="footer-subscribe-form">
						<form action="#">
							<input type="text" class="input" name="subscribe" placeholder="Enter your email">
							<button class="button -transparent" name="subscribe-btn"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-middle row">
			<div class="col-lg-9">
				<div class="footer-pay">
					<ul>
						<li><img src="./asset/images/payment/visa.png" alt="Visa"></li>
						<li><img src="./asset/images/payment/mastercard.png" alt="Master Card"></li>
						<li><img src="./asset/images/payment/visa.png" alt="Visa"></li>
						<li><img src="./asset/images/payment/mastercard.png" alt="Master Card"></li>
						<li><img src="./asset/images/payment/visa.png" alt="Visa"></li>
						<li><img src="./asset/images/payment/mastercard.png" alt="Master Card"></li>
						<li><img src="./asset/images/payment/visa.png" alt="Visa"></li>
						<li><img src="./asset/images/payment/mastercard.png" alt="Master Card"></li>
						<li><div class="footer-pay-text">Cash on Delivery</div></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="footer-social">
					<div class="footer-social-icon social-footer">
						<div class="social-item">
							<a href="#" class="social-link">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
						</div>
						<div class="social-item">
							<a href="#" class="social-link">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
						</div>
						<div class="social-item">
							<a href="#" class="social-link">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
						</div>
						<div class="social-item">
							<a href="#" class="social-link">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom row row-cols-1">
			<div class="footer-copy">Copyright © 2020 <strong>Easysolar.id</strong> All Rights Reserved.</div>
		</div>
	</div>
</footer>
