<!-- sidebar menu -->
<div class="sidebar -fixed">
	<div id="sidebar" class="sidebar-block">
		<!-- user -->
		<a href="profile.html" class="menu-link">
			<div class="menu-sidebar">
				<div class="menu-avatar">
					<img src="./asset/images/dummy/avatar.jpg" alt="Chelsea Olivia">
				</div>
				<div class="menu-info">
					<div class="menu-username">Chelsea Olivia</div>
					<div class="menu-text">View Profile</div>
				</div>
			</div>
		</a>

		{{>nav page=page}}
	</div>
</div>
