<div class="panel">
	<h2 class="title-modal">Login</h2>
	<div class="panel-body">
		<form action="solario.html">
			<div class="form-row">
				<label for="name">Email Address</label>
				<div class="form-input">
					<input type="text" id="name" name="name" class="input" placeholder="">
				</div>
				<div class="form-hint"></div>
			</div>
			<div class="form-row">
				<label for="password">Password</label>
				<div class="form-input">
					<input type="password" id="password" name="password" class="input" placeholder="">
				</div>
				<div class="form-hint"></div>
			</div>
			<div class="form-row">
				<div class="form-checkbox">
					<input type="checkbox" name="remember" id="remember" value="">
					<label for="remember">Remember Me</label>
				</div>
			</div>
			<div class="form-row">
				<input type="submit" name="signup" id="signup" value="Login" class="button -primary">
			</div>
			<div class="form-row">
				<a href="forgot.html" class="button -transparent" role="link">Forgot your password?</a>
			</div>
		</form>
	</div>
</div>
