<!-- modal register -->
<div class="modal fade" id="modal-register" tabindex="-1" aria-labelledby="Register" aria-hidden="true">
	<div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-body">
				<div class="panel">
					<h2 class="title-modal">Sign up</h2>
					<div class="panel-body">
						<form action="register-result.html">
							<div class="form-row">
								<label for="name">Email Address</label>
								<div class="form-input">
									<input type="text" id="name" name="name" class="input" placeholder="">
								</div>
								<div class="form-hint"></div>
							</div>
							<div class="form-row">
								<label for="password">Password</label>
								<div class="form-input">
									<input type="password" id="password" name="password" class="input" placeholder="">
								</div>
								<div class="form-hint">Password must content at least 8 characters.</div>
							</div>
							<div class="form-row">
								<div class="panel-text text-center">
									<p>By signing up you are agreeing to our <a href="static-page.html">Terms of Services</a>.</p>
									<p>View our <a href="static-page.html">Privacy Policy</a>.</p>
								</div>
							</div>
							<div class="form-row">
								<input type="submit" name="signup" id="signup" value="Agree and Sign up" class="button -primary">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
